In [1]:
import sqlalchemy
import db_module

create_new_test_db = True
import os
if os.path.exists("tests.sqlite"): #Если файл уже есть, заморачиваться с перезаполнением не будем
    create_new_test_db = False

## Создаем тестовую БД методом класса dbModule

In [2]:
myDB = db_module.dbModule(dbstring = 'sqlite:///tests.sqlite')
if create_new_test_db:
    myDB.create_sqlite_file()

## Напечатаем названия таблиц в БД для проверки

In [3]:
db_module.Base.metadata.tables.keys()

dict_keys(['image', 'dataset', 'category', 'license', 'annotation', 'trainResult', 'categoryToModel', 'model'])

## Заполним базу аннотациями из COCO -- это необходимо делать один раз

In [4]:
dataDir=r"D:\Work\AutoML\annotations_trainval2017"
dataType='train2017'
annFile=r"{}\annotations\instances_{}.json".format(dataDir,dataType)


import time

begin = time.time()
if create_new_test_db:
    myDB.fill_coco(annFile, firstTime = True) #Надо указать True чтобы подгрузить категории 
end = time.time()

print('DB filled in', end-begin, 'seconds')

DB filled in 0.0 seconds

In [5]:
myDB.add_model_record(task_type = "detection", categories = ['cat','mouse'], model_address = './TrainedNN/New_NetworkFirst', metrics = {'accuracy':0.91}, history_address = '')
myDB.add_model_record(task_type = "classification", categories = ['cat','dog'], model_address = './TrainedNN/New_NetworkPP', metrics = {'accuracy':0.91}, history_address = '')
myDB.add_model_record(task_type = "classification", categories = ['cat','dog'], model_address = './TrainedNN/New_NetworkFirst', metrics = {'accuracy':0.80}, history_address = '')
myDB.add_model_record(task_type = "classification", categories = ['cat','mouse'], model_address = './TrainedNN/New_NetworkPP', metrics = {'accuracy':0.93}, history_address = '')
myDB.add_model_record(task_type = "classification", categories = ['cat','mouse'], model_address = './TrainedNN/New_NetworkFirst', metrics = {'loss':0.93}, history_address = '')

In [6]:
model = myDB.sess.query(db_module.dbModule.Model).join(db_module.dbModule.TrainResult).filter(db_module.dbModule.TrainResult.metric_name.in_(['loss','sd']))

In [7]:
model.all()

In [8]:
myDB.get_models_by_filter({'min_metrics':{'accuracy':0.92}, 'categories':['cat','mouse']})

,ID,model_address,task_type,aux,ID,metric_name,metric_value,model_id,history_address,aux
0,2,C:\Users\fires\repos\ann-automl\TrainedNN\New_...,classification,,4,accuracy,0.93,2,C:\Users\fires\repos\ann-automl,
1,2,C:\Users\fires\repos\ann-automl\TrainedNN\New_...,classification,,9,accuracy,0.93,2,C:\Users\fires\repos\ann-automl,
2,2,C:\Users\fires\repos\ann-automl\TrainedNN\New_...,classification,,14,accuracy,0.93,2,C:\Users\fires\repos\ann-automl,

In [11]:
myDB.load_specific_categories_annotations([15,16])

Train shape: (12386, 7)  test shape: (4129, 7) validation shape (4129, 7)

(              file_name                                           coco_url  \
 0      000000202273.jpg  http://images.cocodataset.org/train2017/000000...
 1      000000475407.jpg  http://images.cocodataset.org/train2017/000000...
 2      000000019608.jpg  http://images.cocodataset.org/train2017/000000...
 3      000000469793.jpg  http://images.cocodataset.org/train2017/000000...
 4      000000358765.jpg  http://images.cocodataset.org/train2017/000000...
 ...                 ...                                                ...
 20639  000000561931.jpg  http://images.cocodataset.org/train2017/000000...
 20640  000000214131.jpg  http://images.cocodataset.org/train2017/000000...
 20641  000000181515.jpg  http://images.cocodataset.org/train2017/000000...
 20642  000000116123.jpg  http://images.cocodataset.org/train2017/000000...
 20643  000000509691.jpg  http://images.cocodataset.org/train2017/000000...

        category_id                             bbox  \
 0               16   [313.47, 57.15, 158.71, 48.25]
 1               16    [323.77, 72.14, 85.31, 84.28]
 2               16    [64.44, 416.97, 91.72, 180.1]
 3               16   [186.78, 177.17, 68.67, 52.19]
 4               16  [145.55, 82.58, 267.35, 307.61]
 ...            ...                              ...
 20639           15              [67, 316, 443, 167]
 20640           16               [0, 158, 637, 265]
 20641           16               [0, 128, 634, 197]
 20642           16                [0, 33, 579, 334]
 20643           16                  [9, 0, 328, 69]

                                             segmentation  width  height
 0      [[390.68, 89.32, 378.88, 102.19, 345.64, 105.4...    480     640
 1      [[324.8, 76.25, 336.1, 106.06, 351.52, 127.64,...    640     480
 2      [[64.44, 547.04, 64.44, 513.69, 69.44, 498.68,...    427     640
 3      [[186.78, 214.25, 247.21, 177.17, 255.45, 212....    561     640
 4      [[266.32, 341.68, 254.97, 318.97, 249.81, 328....    640     480
 ...                                                  ...    ...     ...
 20639  {"counts": [32863, 6, 477, 8, 461, 7, 4, 13, 4...    640     484
 20640  {"counts": [175, 6, 470, 24, 49, 16, 48, 27, 4...    640     480
 20641  {"counts": [302, 6, 459, 11, 1, 10, 458, 23, 4...    640     480
 20642  {"counts": [234, 6, 313, 6, 101, 8, 311, 8, 99...    640     427
 20643  {"counts": [3262, 3, 355, 5, 352, 7, 351, 8, 3...    640     359

 [20644 rows x 7 columns],
 {'train': 'train.csv', 'test': 'test.csv', 'validate': 'validate.csv'},
 596.0808951753536,
 465.7062100368146)